.row {
    display: grid;
    grid-auto-flow: column;
    gap: 5%;
  }

.col {
    text-align: center;
}

#ids {
  font-style: italic;
}

#currentId {
  font-style: italic;
}

#currentFileName {
  font-style: italic;
}

#trainFile {
  text-align-last: center;
  margin: auto;
}

#trainResults {
  text-align: left;
}