.row {
    display: grid;
    grid-auto-flow: column;
    gap: 5%;
  }

.col {
    text-align: left;
}

#ids {
  font-style: italic;
}

#connection {
  text-align: center;
}

#currentId {
  font-style: italic;
}

#currentFileName {
  font-style: italic;
}

#trainFile {
  text-align-last: center;
  margin: auto;
}

#trainResults {
  height:200px;
  overflow-y:scroll;
  overflow-x:hidden;
}

#predictFile {
  text-align-last: center;
  margin: auto;
}

#predictResults {
  height:200px; 
  overflow-y:scroll; 
  overflow-x:hidden;
}

#currentPredictId {
  font-style: italic;
}